@font-face {
    font-family: 'FonteLove';
    src: url('fonts/love larry ttf.ttf') format('opentype');  /*não esqueça de fazer corretamente os apontamentos de página*/
    font-weight: normal;
    /*
    Tipos de format()
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetupe-aat (apple advanced typography)
    - svg
    */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'FonteLove', Times, serif;
    font-size: 3em;
    font-weight: normal;
}